<launch>
    <!--<include file="$(find amigo_machine_files)/machines/amigo1.machine" />--><!--ToDo: correct machine file-->
    
    <node name="etherCAT" pkg="ocl" type="deployer-gnulinux" args="
    ETHERCAT_HARDWARE
    -s $(find amigo_etherCAT)/soem.ops 
    -s $(find amigo_etherCAT)/base_controller.ops
    -s $(find amigo_etherCAT)/identification/base_identification2.ops
    --" output="screen"></node><!--</node> machine="amigo1"></node>   --><!--ToDo: correct machine file-->
</launch>
