<launch>
    <include file="$(find amigo_machine_files)/machines/amigo1.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo2.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo3.machine" />
    
    <node name="amigo_lpera_only" machine="amigo2" pkg="ocl" type="deployer-gnulinux" args="-s $(find amigo_pera_controller)/lpera_new_model.ops --" output="screen"></node>   
</launch>
