<launch>
    <include file="$(find amigo_machine_files)/machines/amigo1.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo2.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo3.machine" />
    
    <node name="amigo_rpera_only" machine="amigo3" pkg="ocl" type="deployer-gnulinux" args="-s $(find amigo_pera_controller)/rpera_test.ops --" output="screen"></node>   
</launch>
