<launch>
    <include file="$(find amigo_machine_files)/machines/amigo1.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo2.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo3.machine" />
    
    <node name="amigo_base_controller" pkg="ocl" type="deployer-corba-gnulinux" args="
    ETHERCAT_HARDWARE
    -s $(find amigo_etherCAT)/soem.ops 
    -s $(find amigo_base_controller)/base_controller.ops 
    --" output="screen" machine="amigo2"></node>           
</launch>
