<launch>

  <!-- load robot on parameter server-->
  <param name="robot_description" textfile="$(find amigo_simulation_model)/robot.urdf" />
  <rosparam file="$(find amigo_redundancy_search)/parameters/parameters.yaml" command="load" />


  <node pkg="amigo_redundancy_search" type="redundancy" respawn="false" name="redundancy_search" output="screen">
  <remap from="/redundancy_search/arm_position_right" to="arm_position_right"/>
  </node>

</launch>
