<launch>
    <include file="$(find amigo_machine_files)/machines/amigo1.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo2.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo3.machine" />
    
    <node name="amigo_head_controller" pkg="ocl" type="deployer-gnulinux" args="
    -linfo
    -s $(find amigo_head_controller)/soem_head.ops 
    --" output="screen"></node>           
</launch>
<!-- -->
<!---s $(find rtt_custom_components)/clean_exit.ops-->
