<launch>
  <include file="$(find rtt_ros)/launch/deployer.launch">
    <arg name="DEPLOYER_ARGS" value="gnulinux
    -s $(find amigo_hardware)/ops/soem.ops
    -s $(find amigo_hardware)/ops/base_controller.ops
    -s $(find amigo_hardware)/frf_measurements/frf_one_wheel_floor.ops
    "/>
    <arg name="LOG_LEVEL" value="Warning"/>
    <arg name="DEBUG" value="false"/>
  </include>
</launch>
